@charset "utf-8";
@import url(../css/html5reset-1.6.1.css); /*reset css*/

.inner {
  width: 100%;
  margin: auto;
}
.inner:after {
  content: "";
  clear: both;
  display: block;
}
.body {
    background: #ffffff;
    font-family:"游ゴシック Medium",YuGothic,YuGothicM,"Hiragino Kaku Gothic ProN","Hiragino Kaku Gothic Pro",メイリオ,Meiryo,sans-serif;
    font-weight: 400;
}
/* header */
#header {
    width: 100%;
    height: 60px;
    position: fixed;
    z-index: 900;
    background: #ffffff;
}
#header .header_logo {
    width: 100px;
    height: auto;
    position: absolute;
    top: 12px;
    left: 150px;
    z-index: 901
}
#global_nav {
    position: relative;
}
#global_nav ul {
    list-style: none;
    position: absolute;
    top: 21px;
    right: 150px;
    z-index: 902;
}
#global_nav li {
    float: left;
    padding: 0 40px;
    color: #333333;
    font-weight: bold;
}
#global_nav li a {
    text-decoration: none;
    color: #333333
}
/* top */
#top {
    width: 100%;
    height: 605px;
    background: url(../img/mv.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
    padding-top: 60px;
}
.top_logo {
    width: 270px;
    height: auto;
    position: absolute;
    top: 290px;
    left: calc((100% - 270px)*0.5);
    z-index: 2;
}
